/* Global styles applied to the <body> element */
body {
  margin: 0; /* Removes default margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Sets a stack of fonts for the body text */
  -webkit-font-smoothing: antialiased; /* Enhances the appearance of fonts for Webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Enhances the appearance of fonts for Mozilla browsers on macOS */
}

/* Styles for <code> elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Sets a stack of fonts for code elements */
}
